* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

span {
  color:  rgb(215, 54, 54);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #000;
  color: white;
  line-height: 1.6;
}

header {
  width: 100%;
  padding: 2rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 2.5rem;
  color: rgb(215, 54, 54);
  font-weight: bold;
}

nav a {
  margin-left: 2rem;
  color: white;
  font-size: 1.6rem;
  transition: 0.3s;
}

nav a:hover {
  color:rgb(215, 54, 54);
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12rem 5% 5rem;
  gap: 5rem;
}

.home-img img {
  width: 300px;
  border-radius: 50%;
  border: 3px solid red;
}

.home-content {
  max-width: 700px;
}

.home-content h1 {
  font-size: 4rem;
  color:rgb(215, 54, 54);
}

.home-content p {
  font-size: 1.6rem;
}

.social-icons a {
  color: white;
  font-size: 2rem;
  margin-right: 1.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  color:rgb(215, 54, 54);
}


.contact h3 {
  font-size: 2rem;
  color:rgb(215, 54, 54);
  margin-top: 1rem;
}

.contact p {
  font-size: 1.6rem;
}

.about-section {
  width: 100%;
  padding: 8rem 5%;
  background: #111;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-box h1 {
  font-size: 4rem;
  color:rgb(215, 54, 54);
}

.about-box p {
  font-size: 1.8rem;
  max-width: 100%;
}

.personal-info p {
  font-size: 1.8rem;
}


.project-section {
  width: 100%;
  padding: 8rem 5%;
  background: #222;
}

.project-content h1 {
  font-size: 4rem;
  color: rgb(215, 54, 54);
  margin-bottom: 2rem;
}

.project-intro {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.project-list li {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}


footer {
  text-align: center;
  padding: 2rem;
  background: #111;
  font-size: 1.4rem;
}
