* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

span {
  color:  rgb(215, 54, 54);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #000000;
  color: white;
  line-height: 1.6;
}

header {
  width: 100%;
  padding: 2rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(136, 3, 3);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 2.5rem;
  color: rgb(215, 54, 54);
  font-weight: bold;
}

nav a {
  margin-left: 2rem;
  color: white;
  font-size: 1.6rem;
  transition: 0.3s;
}

nav a:hover {
  color:rgb(215, 54, 54);
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12rem 5% 5rem;
  gap: 5rem;
}

.home-img img {
  width: 300px;
  border-radius: 50%;
  border: 3px solid red;
}

.home-content {
  max-width: 700px;
}

.home-content h1 {
  font-size: 4rem;
  color:rgb(215, 54, 54);
}

.home-content p {
  font-size: 1.9rem;
}

.social-icons a {
  color: white;
  font-size: 2rem;
  margin-right: 1.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  color:rgb(215, 54, 54);
}


.contact h3 {
  font-size: 2rem;
  color:rgb(215, 54, 54);
  margin-top: 1rem;
}

.contact p {
  font-size: 1.6rem;
}

.about-section {
  width: 100%;
  padding: 8rem 5%;
  background: #bbb2b2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center; 
  align-items: center;
  text-align: center; 
  position: relative;
}

.about-box h1 {
  font-size: 4rem;
  color: rgb(215, 54, 54);
  margin-bottom: 1rem;
  position: absolute;
  text-align: center;
}


.about-box p {
  color: black;
  font-size: 1.8rem;
  max-width: 700px;
  line-height: 1.6;
  text-align: justify;  
  margin-bottom: 1rem;  
}


.about-box {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.8rem;
  line-height: 2.6rem;
}

.personal-info{
  background: rgb(56, 52, 52);
  border-radius: 20px;
  padding: 2rem 3rem;
  max-width: 600px;
  margin: 2rem auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-size: 1.9rem;
  line-height: 2.9rem;
  width: 450px;
  text-align: justify;
}


.project-section {
  width: 100%;
  padding: 8rem 5%;
  background: #222;
 
}

.project-content h1 { 
  font-size: 4rem;
  color: rgb(215, 54, 54);
  margin-bottom: 2rem;
  text-align: center;
}

.project-intro {
  font-size: 1.8rem;
  margin-bottom: 1rem;
   justify-content: center; 
  align-items: center;
  text-align: center; 
  position: relative;
}

.project-intro p{
  font-size: 1.6rem;
  margin-bottom: 1rem;
   justify-content: center; 
  align-items: center;
  text-align: center; 
  position: relative;


}
.project-list{
  font-size: 1.7rem;
  margin-bottom: 7rem;
  justify-content: center; 
  align-items: center;
  text-align: center; 
  position: relative;
  background: rgb(56, 52, 52);
  border-radius: 20px;
  padding: 2rem 3rem;
  max-width: 600px;
  margin: 2rem auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-size: 1.4rem;
  line-height: 1.9rem; 
  width: 450px;
  text-align: justify;
  
}
footer {
  text-align: center;
  padding: 2rem;
  background: #111;
  font-size: 1.4rem;
}
